<div class="container">
  <h1>マイページ</h1>
  <div class="row">

   <h1 class="w-25">登録情報</h1>
   <%= link_to edit_public_customers_path(current_customer) do %>
   <h3 class="btn btn-success">編集する</h3>
   <% end %>
  </div>

  <div class="col-8">
  <table class="table">
    <tr>
      <th width="200">氏名</th>
      <td width="500"><%= @customer.last_name %><%= @customer.first_name %></td>
    </tr>

    <tr>
      <th>カナ</th>
      <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
    </tr>

    <tr>
      <th>郵便番号</th>
      <td><%= @customer.postal_code %></td>
    </tr>

    <tr>
      <th>住所</th>
      <td><%= @customer.address %></td>
    </tr>

    <tr>
      <th>電話番号</th>
      <td><%= @customer.telephone_number %></td>
    </tr>

    <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
  </table>
  </div>
  <table>
    <tr>
      <th>配達先</th>
      <td>
       <%= link_to public_addresses_path do %>
       <h3 class="btn btn-success">一覧を見る</h3>
       <% end %>
      </td>
    </tr>

    <tr>
      <th>注文履歴</th>
      <td>
        <%= link_to public_orders_path do %>
        <h3 class="btn btn-success">一覧を見る</h3>
        <% end %>
      </td>
    </tr>
  </table>
</div>
