<h2>ジャンル一覧・追加</h2>

<h4>ジャンル名</h4>
<%= form_with model: @genre do |f| %>
<%= f.text_field :name %>
 <button type="button" class="btn btn-success"><%= f.submit "新規投稿" %></button>
<% end %>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>ジャンル</th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
    <tr>
      <td>
       <%= genre.name %>
      </td>
      <td　type="button" class="btn btn-success">
        <%= link_to edit_admin_genre_path(genre.id) do %>
        <p>編集する</p>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


