<div class="container">
  <h2>ジャンル一覧・追加</h2>

  <div class="row">
    <%= form_with model: @genre,url:admin_genres_path do |f| %>
      <table>
        <tr>
          <th width="150"><h4>ジャンル名</h4></th>
          <th width="230"><%= f.text_field :name %></th>
          <th width="200"><%= f.submit "新規投稿", class:"btn btn-success" %></th>
        </tr>
      </table>
    <% end %>
  </div>

  <div class="row">
    <table>
      <thead>
        <tr class="border-top border-bottom" align="center">
          <th width="300" height="50" valign="middle">ジャンル</th>
          <th></th>
          
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genre| %>
          <tr class="border-top border-bottom">
            <td height="50"><%= genre.name %></td>
            <td>
              <%= link_to "編集する", edit_admin_genre_path(genre.id), class:"btn btn-success" %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>

</div>

