<h1>ショッピングカート</h1>


<table　border="1" cellpadding="6" cellspacing="0">
  <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>
  
  <tr>
    <td><%= image_tag @item.image, size: "500x300" %><%= @item.name %></td>
    <td><%= @item.price %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<div>
  <%= link_to admin_items_path do %>
  <h3 class="btn btn-primary">買い物を続ける</h3>
  <% end %>
</div>

<div>
  <h3>合計金額</h3>
  
</div>

<div>
  <%= link_to  new_public_order do %>
  <h3 class="btn btn-primary">情報入力に進む</h3>
  <% end %>
</div>
