<div class="container">

    <h1>注文履歴一覧</h1>
    <table border="1" cellpadding="6" cellspacing="0">
      <tr>
        <th width="100">注文日</th>
        <th width="400">配達先</th>
        <th width="400">注文商品</th>
        <th width="100">支払金額</th>
        <th width="150">ステータス</th>
        <th width="150">注文詳細</th>
      </tr>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td>
         〒<%= order.postal_code %></br>
          <%= order.address %></br>
          <%= order.name %>
        </td>
        <td>
          <% order.order_details.each do |order_detail| %>
            <%= order_detail.item.name %></br>
          <% end %>
        </td>
        <td><%= order.billing %>円</td>
        <td>
            <%= order.status_i18n %>
        </td>
        <td>
          <%= link_to public_order_path(order.id) do %>
          <h3 class="btn btn-primary">表示する</h3>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>

</div>