<div class="container">
  <div class="row">

    <div class="col-3">
      <table class="border">
        <tr>
          <th width="150" class="border-bottom text-center">ジャンル検索</th>
        </tr>
         <% @genres.each do |genre| %>
        <tr>
          <th>
            <%= link_to public_items_path(genre_id: genre.id) do %>
            <%= genre.name %>
            <% end %>
          </th>
        </tr>
        <% end %>
       </table>
    </div>

  <div class="col-8">
    <div class="row">
      <div><%= image_tag @item.image, size: "300x200" %></div>
     <div class="p-4">
     <table>
      <tr>
       <td ><%= @item.name %></td>
      </tr>

       <tr>
        <td><%= h(@item.introduction).gsub(/\r/, "<br>").html_safe %></td>
       </tr>

       <tr>
        <td>￥<%= @item.with_tax_price %>(税込)</td>
       </tr>

       <tr>
        <td>
        <% if customer_signed_in? %>
        <%= form_with model: @cart_item,url: public_cart_items_path do |f| %>

        <%= f.select :amount, [[1], [2], [3],[4],[5],[6],[7],[8],[9],[10]] %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>

        <%= f.submit "カートに入れる", class:"btn btn-success" %>
        <% end %>
        <% end %>
        </td>
       </tr>

      </table>

       </div>
      </div>
    </div>
  </div>
</div>